@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Overflow */

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  border: none;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

* {
  transition: all 0.2s ease-in-out;
}

/* html */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* background: linear-gradient(90deg, #303030 0%, #474747 50%, #555555 100%); */
  background-color: #f8f9fa;
}

/* Body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  padding: 0;
  box-sizing: border-box;
  /* background: linear-gradient(90deg, #303030 0%, #474747 50%, #555555 100%); */
  overflow-x: hidden;
}

@media screen and (max-width: 992px) {
  body {
    overflow-y: auto;
  }
}

/* Dev defined styles */
.text-center {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.text-light {
  /* color: rgba(250, 190, 62, 1); */
  color: rgba(0, 0, 0, 0.75);
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.top-border-curve {
  border-radius: 10px 10px 0 0;
}

.bottom-border-curve {
  border-radius: 0 0 10px 10px;
}

.fade-effect {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-effect.fade-in {
  opacity: 1;
}

/* Header */
header {
  width: 100%;
  height: auto;
  min-height: 10vh;
  text-align: center;
  background-color: transparent;
  /* color: rgba(224, 173, 62, 1); */
  color: rgba(0, 0, 0, 0.75);
  padding: 10px 0 0 0;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a,
header a:visited, 
header a:hover,
header a:focus,
header a:active {
  width: fit-content;
  text-decoration: none;
  /* color: rgba(224, 173, 62, 1); */
  color: rgba(0, 0, 0, 1);
}

header h1 {
  padding: 0;
  margin: 0;
  width: fit-content;
}

header img {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  header {
    font-size: 18px;
    padding: 10px 0 10px 0;
    /* border-bottom: 1px solid rgba(255, 188, 45, 0.1); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  header img {
    padding: 0;
    margin: 0;
    width: 180px;
  }
}

/* Main */
main {
  width: 100%;
  height: 92vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  gap: 0;
}

.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: none;
  z-index: 2;
  margin: 15px 0 15px 0;
}

.nav-bar a {
  text-decoration: none;
  /* color: rgba(224, 173, 62, 0.952); */
  color: rgba(0, 0, 0, 0.952);
  cursor: pointer;
  padding: 5px 25px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  border-radius: 50px;
  transition: 0.5s all ease-in-out;
}

.nav-bar a.active {
  background-color: rgba(255, 255, 255, 0.05);
  /* color: rgba(216, 168, 62, 1); */
  color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 992px) {
  .nav-bar {
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    gap: 10px;
    /* background: linear-gradient(90deg, #303030 0%, #474747 50%, #555555 100%); */
    z-index: 2;
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  main {
    height: auto;
    min-height: 90vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: transparent;
  filter: blur(2);
  /* color: rgba(224, 173, 62, 0.952); */
  color: rgba(0, 0, 0, 0.952);
  padding: 25px 0 5px 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  /* border-top: 1px solid rgba(255, 188, 45, 0.1); */
  border-top: 1px solid rgba(0, 0, 0, 0.1);

}

footer p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

footer a {
  text-decoration: underline;
  color: rgba(146, 144, 144, 0.65);
  cursor: pointer;
  padding: 0;
  letter-spacing: 1.1px;
}

footer a:hover {
  color: rgba(83, 82, 82, 0.9);
}

footer span {
  color: rgba(0, 0, 0, 0.952);
  font-size: 13px;
  letter-spacing: 1.1px;
}

@media screen and (max-width: 992px) {
  footer {
    padding: 30px 0 10px 0;
    font-size: 15px;
  }
}

/* Main Styles */

.welcome-holder {
  width: 100%;
  height: auto;
  min-height: 92vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border-right: 1px solid rgba(255, 188, 45, 0.1); */
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.welcome-holder-header {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.welcome-holder-content {
  width: 100%;
  margin: 25px 0 0 0;
  box-sizing: border-box;
  height: 77vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 992px) {
  .welcome-holder {
    height: auto;
    min-height: auto;
    border-right: none;
  }
  .welcome-holder-content {
    width: 100%;
    margin: 20px 0 10px 0;
    box-sizing: border-box;
    height: auto;
  }
}

.task-holder {
  width: 100%;
  box-sizing: border-box;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 0 0 0;
}

.task-holder-header {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  /* color: rgba(216, 168, 62, 1); */
  color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.task-holder-view-switchers {
  width: 92%;
  box-sizing: border-box;
  height: auto;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px 0 10px 30px;
}

.task-holder-view-switchers button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
  font-size: 20px;
  padding: 0;
  color: rgba(0, 0, 0, 1);
}

.task-holder-view-switchers button.active {
  transform: scale(1.15);
  color: rgba(40, 57, 214, 1);
}

.task-holder-header-nav {
  width: 45%;
  box-sizing: border-box;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.task-holder-header-nav .link {
  position: relative;
  text-decoration: none;
  /* color: rgba(224, 173, 62, 0.952); */
  color: rgba(0, 0, 0, 0.952);
  cursor: pointer;
  padding: 3px 6px 3px 6px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
  vertical-align: middle;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.task-holder-header-nav .link i {
  font-size: 13px; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: bold;
}

.task-holder-header-nav .link.active {
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* color: rgba(216, 168, 62, 1); */
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 1);
  transform: scale(1.06);
}

.task-holder-header a span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 18px;
  height: 18px;
  font-size: 13px;
  font-weight: bold;
  color: #f8f9fa;
  padding: 2px;
  /* color: #303030; */
  /* background-color: rgba(216, 168, 62, 1); */
  background-color: rgba(0, 0, 0, 0.952);
  border-radius: 50px;
  transition: 0.5s all ease-in-out;
}

.task-holder-header-account {
  position: relative;
  width: 45%;
  box-sizing: border-box;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 0 30px 0 0;
}

.task-holder-header-account button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  font-size: 18px;
  padding: 5px 6px 5px 6px;
  /* color: rgba(216, 168, 62, 1); */
  color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .task-holder-header-view button:last-child {
  margin: 0 50px 0 0;
} */

.task-holder-header-account button.active {
  transform: scale(1.06);
  /* background-color: rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.task-holder-header-account button i {
  font-size: 13px; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: bold;
}

.account-dropdown {
  position: absolute;
  top: 160%;
  right: 10px;
  width: 250px;
  height: auto;
  background-color: #f0f1f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 99;
}

.account-dropdown::before {
  content: '';
  position: absolute;
  top: 0; /* Position above the .account-dropdown */
  left: calc(76% - 10px); /* Adjusted left position to center the arrow */
  transform: translateY(-50%) rotate(45deg); /* Adjusted rotation */
  width: 20px; /* Adjusted width to match the arrow size */
  height: 20px; /* Adjusted height to match the arrow size */
  background-color: #f0f1f3; /* Matched background color to .account-dropdown */
  border-left: 1px solid rgba(0, 0, 0, 0.1); /* Added border for the arrow */
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Added border for the arrow */
  z-index: 100; /* Ensure the arrow is above .account-dropdown */
}

.account-dropdown .selection {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 15px 0 15px 0;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.01);
}

.account-dropdown .selection .selector {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #474747;
  padding: 5px 0 5px 0;
  min-width: 100px;
  box-shadow: 0 0 0 0;
}

.account-dropdown .selection .selector:hover {
  color: #303030;
}

.account-dropdown .selection .selector:focus,
.account-dropdown .selection .selector:active, 
.account-dropdown .selection .selector.active {
  color: #303030;
  background-color: #cccccc8e;
}

.account-dropdown form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: auto;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 15px;
}

.account-dropdown form h3 {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgba(196, 17, 17, 0.89);
  margin: 10px 0 5px 0;
  align-self: center;
}

.account-dropdown form h4 {
  font-size: 11px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgba(196, 17, 17, 0.89);
  margin: 5px 0 5px 0;
  align-self: center;
}

.account-dropdown form label {
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #303030;
  margin: 15px 0 5px 5px;
}

.account-dropdown form input {
  box-sizing: border-box;
  padding: 5px 15px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #cccccc8e;
  color: #303030;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.account-dropdown form input::placeholder {
  color: #303030;
}

.account-dropdown form input:focus,
.account-dropdown form input:active {
  outline: 1px solid #303030;
  box-shadow: none;
}

.account-dropdown form input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.account-dropdown form .btn {
  width: 100%;
  padding: 5px 15px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #cccccc8e;
  color: #303030;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s all ease-in-out;
  margin: 20px 0 0 0;
}

.account-dropdown form .btn:hover {
  background-color: #303030;
  color: #f8f9fa;
  cursor: pointer;
}

.account-dropdown form .btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.account-dropdown form .btn:disabled:hover {
  background-color: #cccccc8e;
  color: #303030;
}

.create-task-btn-mobile {
  display: none;
}

.task-holder-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 20px 30px 20px;
}

@media screen and (max-width: 992px) {
  .task-holder {
    height: auto;
    width: 100%;
    justify-content: center;
    padding: 0 20px 0 20px;
    margin: 0;
  }
  .task-holder-header {
    width: 100%;
    padding: 0;
  }
  .task-holder-header-nav {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .task-holder-header-view {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .task-holder-header-nav a {
    font-size: 20px;
    padding: 4px 8px 4px 8px;
  }

  .task-holder-header-nav a.active {
    transform: scale(1);
  }

  .task-holder-header-view button:last-child {
    margin: 0;
  }

  .create-task-btn-mobile {
    display: block;
    position: fixed;
    bottom: 7%;
    right: 8px;
    /* background-color: rgba(216, 168, 62, 0.9);
    color: #474747; */
    background-color: rgba(85, 85, 85, 0.2);
    color: #303030;
    border-radius: 50px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    padding: 8px 10px 2px 10px; 
    font-size: 30px;
    z-index: 2;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-decoration: none;
  }
}

/* Welcome Box */
.welcome {
  width: 90%;
  height: auto;
  max-width: 400px;
  /* color: #303030;
  background: linear-gradient(90deg, rgba(255, 188, 45, 0.76) 0%, rgba(250, 190, 62, 0.76) 50%, rgba(253, 196, 73, 0.76) 100%); */
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.01);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 10px;
}

.welcome h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.welcome h3 {
  padding: 0 30px 10px 30px;
  margin: 5px 10px 5px 10px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.welcome h4 {
  padding: 0 10px 0 10px;
  margin: 20px 0 0 0;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.welcome p {
  font-size: 17px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  place-self: center;
  font-variation-settings: "wdth" 100;
}

.welcome .add-task {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.welcome .add-task form {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
}

.welcome .add-task .selection {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 15px 0 15px 0;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #EDEEF0;
}

.welcome .add-task .selection .selector {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #474747;
  padding: 5px 0 5px 0;
  min-width: 100px;
  box-shadow: 0 0 0 0;
  border-radius: 10px;
}

.welcome .add-task .selector:hover {
  color: #303030;
}

.welcome .add-task .selector:focus,
.welcome .add-task .selector:active, 
.welcome .add-task .selector.active {
  color: #303030;
  background-color: #cccccc8e;
}

.welcome .add-task ul {
  width: auto;
  display: flex; 
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
  list-style-type: none;
  flex-wrap: wrap;
}

.welcome .add-task h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.welcome .add-task h3 {
  padding: 0 30px 10px 30px;
  margin: 5px 0 15px 0;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
}

.welcome .add-task p {
  font-size: 17px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.welcome .add-task h5 {
  font-size: 12px;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.welcome .add-task h4 {
  font-size: 13px;
  margin: 5px 0 15px 0;
  padding: 5px 0 5px 0;
  border-radius: 10px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* color: rgb(172, 16, 16); */
  color: rgba(196, 17, 17, 0.89);
}

.welcome .add-task h6 {
  font-size: 13px;
  margin: 5px 0 10px 0;
  padding: 0;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* color: rgb(172, 16, 16); */
  color: #303030;
}

.welcome .add-task h6 span {
  /* color: #303030; */
  color: #303030;
}

.welcome .add-task h6 span i {
  font-style: normal;
}

.welcome .add-task h6 span i.lighter {
  /* color: rgb(172, 16, 16); */
  color: rgba(196, 17, 17, 0.89);
  font-weight: bold;
}

.welcome .add-task label {
  font-size: 11px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #303030;
  margin-left: 10px;
}

.welcome .add-task input[type="text"] {
  box-sizing: border-box;
  padding: 5px 15px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #cccccc8e;
  color: #303030;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 0 0 0;
}

.welcome .add-task input[type="text"]::placeholder {
  color: #303030;
}

.welcome .add-task input[type="text"]:focus,
.welcome .add-task input[type="text"]:active {
  outline: 1px solid #303030;
  box-shadow: none;
}

.welcome .add-task input[type="date"] {
  box-sizing: border-box;
  padding: 5px 15px;
  margin: 0 0 0 10px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  background-color: #cccccc8e;
  color: #303030;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.welcome .add-task input[type="date"]:focus,
.welcome .add-task input[type="date"]:active {
  outline: 1px solid #303030;
  box-shadow: none;
}

.welcome .add-task textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 15px;
  margin: 15px 0 0 0;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #cccccc8e;
  color: #303030;
  border: none;
  outline: none;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  resize: none;
}

.welcome .add-task textarea::placeholder {
  color: #303030;
}

.welcome .add-task textarea:focus,
.welcome .add-task textarea:active {
  outline: 1px solid #303030;
  box-shadow: none;
}

.welcome .add-task .notes {
  width: 100%;
  box-sizing: border-box;
  padding: 13px; /* Adjust padding as needed */
  margin: 15px 0 0 0;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #cccccc8e;
  color: #303030;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  resize: none;
  background-image: repeating-linear-gradient(transparent, transparent 20px, #cccccc8e 40px, transparent 40px); /* Adjust line height */
  background-attachment: local;
  line-height: 40px; /* Adjust line height */
}


.welcome .add-task .notes::placeholder {
  color: #303030;
}

.welcome .add-task .add-checklist-item {
  padding: 0 10px 0 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: #cccccc8e;
  color: #303030;
  border: none;
  border-radius: 10px;
  display: inline-block;
  align-self: center;
  transition: none;
  font-size: 30px;
}

.welcome .add-task .add-checklist-item:hover {
  background-color: #474747;
  color: #f8f9fa;
}

.welcome .add-task .btn {
  width: 100%;
  padding: 5px 15px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  background-color: #cccccc8e;
  color: #303030;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.welcome .add-task .btn:hover {
  /* background-color: #303030; */
  /* color: rgba(224, 173, 62, 0.952); */
  background-color: #303030;
  color: #f8f9fa;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}

.welcome .add-task ul {
  list-style-type: circle;
  text-align: left;
  width: 100%;
  padding: 0 20px 20px 20px;
  margin: 10px 0 20px 0;
  box-sizing: border-box;
}

.welcome .add-task ul li {
  font-size: 17px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 5px 0 0 15px;
}

@media screen and (max-width: 992px) {
  .welcome {
    display: none;
  }
  .welcome h2 {
    font-size: 20px;
  }
  .welcome p {
    font-size: 16px;
  }
}

/* Add New Task Popup */
.popup {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.3s all ease-in-out;
  /* color: #303030; */
  color: #f8f9fa;
}

.popup .add-task {
  position: relative;
  min-width: 300px;
  height: auto;/* Change it! */
  width: auto;
  /* color: #303030;
  background: linear-gradient(90deg, rgba(255, 188, 45, 0.76) 0%, rgba(250, 190, 62, 0.76) 50%, rgba(253, 196, 73, 0.76) 100%); */
  color: #f8f9fa;
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.popup .features {
  position: relative;
  min-width: 300px;
  height: auto;/* Change it! */
  width: auto;
  /* color: #303030;
  background: linear-gradient(90deg, rgba(255, 188, 45, 0.76) 0%, rgba(250, 190, 62, 0.76) 50%, rgba(253, 196, 73, 0.76) 100%); */
  color: #303030;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.popup .features .close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 25px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  cursor: pointer;
  padding: 0 0 0 0;
}

.popup .add-task .back {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  cursor: pointer;
  padding: 0 0 0 0;
}

.popup .selection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  gap: 20px;
}

.popup .selection button {
  width: 200px;
}

.popup .add-task h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.popup .add-task p {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.popup .add-task h5 {
  font-size: 12px;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.popup .add-task h4 {
  font-size: 13px;
  margin: 5px 0 15px 0;
  padding: 5px 0 5px 0;
  border-radius: 10px;
  background-color: rgb(172, 16, 16);
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* color: rgb(172, 16, 16); */
  color: #f8f9fa;
}

.popup .add-task h6 {
  font-size: 13px;
  margin: 5px 0 10px 0;
  padding: 0;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* color: rgb(172, 16, 16); */
  color: #c0c0c0;
}

.popup .add-task h6 span {
  /* color: #303030; */
  color: #f8f9fa;
}

.popup .add-task h6 span i {
  font-style: normal;
}

.popup .add-task h6 span i.danger {
  /* color: rgb(172, 16, 16); */
  color: #c0c0c0;
  font-weight: bold;
}

.popup .add-task input[type="text"] {
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  background-color: #555555;
  color: #f8f9fa;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup .add-task input[type="text"]::placeholder {
  color: #f8f9fa;
}

.popup input[type="date"] {
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  background-color: #555555;
  color: #f8f9fa;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup .add-task textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  background-color: #555555;
  color: #f8f9fa;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  resize: none;
}

.popup .add-task textarea::placeholder {
  color: #f8f9fa;
}

.popup .add-checklist-item {
  padding: 5px 5px 0 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: #555555;
  color: #f8f9fa;
  border: none;
  border-radius: 50px;
  display: inline-block;
  align-self: center;
}

.popup .add-checklist-item:hover {
  background-color: #474747;
}

.popup button {
  width: 100%;
  padding: 10px 25px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  background-color: #555555;
  color: #f8f9fa;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup button:hover {
  /* background-color: #303030; */
  /* color: rgba(224, 173, 62, 0.952); */
  background-color: #474747;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.popup ul {
  list-style-type: circle;
  text-align: left;
  width: 100%;
  padding: 0 20px 20px 20px;
  margin: 10px 0 20px 0;
  box-sizing: border-box;
}

.popup ul li {
  font-size: 17px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 5px 0 0 15px;
}

@media screen and (max-width: 992px) {
  .popup .add-task {
    min-width: 90%;
    padding: 1.5rem;
  }
  .popup .add-task h2 {
    font-size: 22px;
  }
  .popup .add-task textarea {
    font-size: 20px;
  }
  .popup .add-task button {
    font-size: 16px;
  }
  .popup input[type="date"] {
    width: 100%;
  }
  .popup .features {
    width: 90%;
    padding: 3rem 1.5rem;
  }
}

.list-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px 10px 15px 10px;
  gap: 10px;
  box-sizing: border-box;
  width: 90%;
  height: auto;
  min-height: fit-content;
  /* border-bottom: 1px solid rgba(216, 168, 62, 0.05); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease-in-out;
}

.list-view form {
  width: 100%;
  box-sizing: border-box;
}

.list-view h2 {
  width: auto;
  height: auto;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 5px;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* color: rgba(224, 173, 62, 0.8); */
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.list-view h2 span {
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.list-view h2 i {
  margin: 0 0 0 15px;
  font-style: normal;
}

.list-view h3 {
  width: max-content;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 0;
  margin: 10px 0 10px 0;
  /* color: rgba(224, 173, 62, 0.8); */
  color: rgba(0, 0, 0, 0.9);
}

.list-view h6 {
  font-size: 13px;
  margin: 5px 0 10px 0;
  padding: 0;
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 10px rgb(172, 16, 16); */
  color: rgba(196, 17, 17, 0.89);
}

.list-view input[type=checkbox] {
  cursor: pointer;
}

.list-view .task-btns {
  width: 100%;
  box-sizing: border-box;
  place-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 0 0 7px;
}

.list-view .task-btns p {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 0;
  margin: 0;
  /* color: rgba(255, 188, 45, 0.7); */
  color: rgba(0, 0, 0, 0.75);
}

.list-view .task-common-btn {
  padding: 6px 6px 2px 6px;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  /* background-color: #555555;
  color: rgba(216, 168, 62, 1); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  outline: none;
}

/* .list-view .task-common-btn:hover {
  background-color: #303030;
} */

.list-view .task-common-btn span {
  font-size: 16px;
  vertical-align: middle;
}

.list-view .common-btn-theme {
  background-color: #555555;
  color: #f8f9fa;
}

.list-view .common-btn-theme:hover {
  background-color: #303030;
}

.list-view .mark-btn-theme {
  background-color: rgba(216, 168, 62, 0.75);
  color: #f8f9fa;
}

.list-view .mark-btn-theme:hover {
  background-color: rgba(216, 168, 62, 1);
}

.list-view .edit-btn-theme {
  background-color: rgba(40, 57, 214, 0.85);
  color: #f8f9fa;
}

.list-view .edit-btn-theme:hover {
  background-color: rgba(40, 57, 214, 1);
}

.list-view .delete-btn-theme {
  background-color: rgba(196, 22, 22, 0.85);
  color: #f8f9fa;
}

.list-view .delete-btn-theme:hover {
  background-color: rgba(196, 22, 22, 1);
}

.list-view p {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 0;
  margin: 0;
  /* color: rgba(224, 173, 62, 0.952); */
  color: rgba(0, 0, 0, 0.952);
}

.list-view input {
  margin: 10px 0 10px 0;
}

.list-view .edit-task-row-2 {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.list-view textarea {
  width: 50%;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  background-color: #555555;
  color: #f8f9fa;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  resize: none;
  margin: 0;
}

.list-view textarea::placeholder {
  color: #f8f9fa;
}

.list-view .edit-task-row-2 input[type="date"] {
  width: auto;
  box-sizing: border-box;
  padding: 6px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  background-color: #555555;
  color: #f8f9fa;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
}

@media screen and (max-width: 992px) {
  .list-view {
    width: 100%;
  }
  .list-view h2 {
    font-size: 20px;
  }
  .list-view p {
    font-size: 16px;
  } 
  .list-view textarea {
    width: 100%;
  }
  #pipe {
    display: none;
  }
}

.fade-grid-view {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-grid-view.fade-in {
  opacity: 1;
}

.fade-list-view {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-list-view.fade-in {
  opacity: 1;
}

/* Task List */
.grid-view {
  position: relative;
  width: 300px;
  height: auto;
  min-height: fit-content;
  /* color: #303030;
  background: linear-gradient(90deg, rgba(224, 173, 62, 0.952) 0%, rgba(224, 173, 62, 0.8) 50%, rgba(253, 196, 73, 0.76) 100%); */
  color: #303030;
  background-color: rgba(0, 0, 0, 0.01);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 10px 10px 0;
  transition: 0.5s all ease-in-out;
}

.grid-view:hover,
.grid-view:focus, 
.grid-view:active {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.grid-view form {
  width: 100%;
  box-sizing: border-box;
}

.grid-view .task-btns {
  position: relative;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  place-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.grid-view .task-common-btn {
  padding: 10px 10px 4px 10px;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

/* .grid-view .task-common-btn:hover {
  background-color: #303030;
} */

.grid-view .task-common-btn span {
  font-size: 16px;
  vertical-align: middle;
}

.grid-view .common-btn-theme {
  background-color: #555555;
  color: #f8f9fa;
}

.grid-view .common-btn-theme:hover {
  background-color: #303030;
}

.grid-view .edit-btn-theme {
  background-color: rgba(40, 57, 214, 0.85);
  color: #f8f9fa;
}

.grid-view .edit-btn-theme:hover {
  background-color: rgba(40, 57, 214, 1);
}

.grid-view .delete-btn-theme {
  background-color: rgba(196, 22, 22, 0.85);
  color: #f8f9fa;
}

.grid-view .delete-btn-theme:hover {
  background-color: rgba(196, 22, 22, 1);
}

.grid-view h2 {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.grid-view h3 {
  font-size: 17px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 0;
  margin: 0;
}

.grid-view h6 {
  font-size: 13px;
  margin: 5px 0 10px 0;
  padding: 0;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* color: rgb(172, 16, 16); */
  color: rgba(196, 22, 22, 1);
}

.grid-view label {
  width: 100%;
  height: 250px;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 5px 5px 15px 5px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.grid-view label a {
  display: block;
  text-decoration: none;
  color: #303030;
  font-size: 14px;
  cursor: pointer;
}

.grid-view p {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 0;
  margin: 0;
}

.grid-view input {
  margin: 10px 0 10px 0;
}

.grid-view input:hover {
  cursor: pointer;
}

.grid-view textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  background-color: #555555;
  color: #f8f9fa;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  resize: none;
  margin: 5px 0 10px 0;
}

.grid-view input[type="date"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #474747;
  color: rgba(224, 173, 62, 0.952); */
  background-color: #555555;
  color: #f8f9fa;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px 0 10px 0;
}

.list-view .share-buttons {
  width: auto;
  height: fit-content;
  margin: 0 auto 20% auto;
}

.share-buttons-mobile {
  display: none;
}

.share-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  align-self: center;
}

.share-buttons {
  width: 90%;
  max-height: 150px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 10px 0 10px;
  margin: 0 0 10px 0;
  font-size: 25px;
  vertical-align: middle;
}

.share-buttons h4 {
  padding: 0 10px 0 10px;
  margin: 20px 0 0 0;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.share-buttons span {
  font-size: 20px;
  color: #303030;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: none;
}

.fb {
  border-radius: 10px;
  margin: 10px 0 0 0;
  padding: 0;
  margin: 0;
}

.fb:hover {
  box-shadow: 0 0 8px 0 #3b5998;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.tw {
  border-radius: 10px;
  margin: 10px 0 0 0;
  padding: 0;
  margin: 0;
}

.tw:hover {
  box-shadow: 0 0 8px 0 #55acee;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.in {
  border-radius: 10px;
  margin: 10px 0 0 0;
  padding: 0;
  margin: 0;
}

.in:hover {
  box-shadow: 0 0 8px 0 #0077b5;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.wa {
  border-radius: 10px;
  margin: 10px 0 0 0;
  padding: 0;
  margin: 0;
}

.wa:hover {
  box-shadow: 0 0 8px 0 #25d366;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

@media screen and (max-width: 992px) {
  .grid-view {
    width: 45%;
    margin: 0 2.5% 20px 2.5%;
  }
  .grid-view h2 {
    font-size: 20px;
  }
  .grid-view p {
    font-size: 16px;
  }
  .grid-view label {
    height: auto;
  }
  .grid-view .mark {
    font-size: 16px;
  }
  .share-icons-container {
    display: none;
  }
  .share-buttons-mobile {
    width: auto;
    height: auto;
    box-sizing: border-box;
    position: fixed;
    bottom: 35%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    margin: 0;
    font-size: 22px;
    vertical-align: middle;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 1px 1px 0 rgba(0, 0, 0, 0.01);
    z-index: 1;
  }
  .share-buttons-mobile span {
    padding: 10px 10px 4px 10px;
    font-size: 20px;
    /* color: rgba(224, 173, 62, 0.952); */
    color: rgba(0, 0, 0, 0.9);
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .grid-view {
    width: 100%;
  }
}

/* If screen size is less than 300px */
.if-size-less-than-300 {
  display: none;
}

@media screen and (max-width: 300px) {
  header {
    display: none;
  }
  main {
    display: none;
  }
  footer {
    display: none;
  }
  .if-size-less-than-300 {
    display: block;
    padding: 50px 0;
  }
  .if-size-less-than-300 p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
    /* color: rgba(224, 173, 62, 1); */
    text-align: center;
    margin: 0;
    padding: 20px;
    line-height: 1.5;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .share-buttons-mobile {
    display: none;
  }
  .create-task-btn-mobile {
    display: none;
  }
}

.notification-container {
  position: fixed;
  width: auto;
  box-sizing: border-box;
  bottom: 20px;
  right: 10px;
  /* background-color: rgba(216, 168, 62, 1); */
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* color: #303030; */
  color: #f8f9fa;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  border: none;
  z-index: 1;
  animation: slide-up 0.5s ease-out; 
  transform: translateY(0);
  transition: bottom 0.5s ease; 
}

.notification-container.visible {
  bottom: 20px; /* Position at desired location */
}

@keyframes slide-up {
  from {
    transform: translateY(110%);
  }
  to {
    transform: translateY(-3%);
  }
}

.notification-container.slide-down {
  animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@media screen and (max-width: 992px) {
  .notification-container {
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    padding: 8px;
    right: 0;
    bottom: 0;
    border: none;
    border-radius: 0;
  }
  @keyframes slide-up {
    from {
      transform: translateY(110%);
    }
    to {
      transform: translateY(-1px);
    }
  }
}